/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Temel stillendirmeler */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 3px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}
